@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* cima direita baixo esquerda*/

:root {
    --fonte: "DM Sans", serif;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  font-family: var(--fonte);
}

html, body {
  height: 100%;
}

img {
  width: 100%;
}

.logo {
  font-size: 11rem;
  font-weight: bolder;
  color: rgba(12, 150, 104, 0.623);
  background-image: url(../images/bg-header-mobile.png);
  background-size: cover;
  padding: 4rem;
  text-align: center;
}



h1 {
  font-size: 2.3rem;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.links-area {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 8rem 0;
}

.links-area a {
  padding: 1.3rem 0;
  border-radius: 2rem;
  width: 80%;
  max-width: 600px;
  margin: 0.7rem auto;
  text-align: center;
  color: white;
}

.link1 {
  background-color: rgba(80, 163, 80, 0.658);
}

.link2 {
  background-color: rgb(49, 49, 175);
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 1.3rem;
  max-width: 700px;
}

ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  padding: 1.3rem;
}

li img {
  width: 10%;
}

.company li img {
  width: 50%;
  padding: 1.5rem;
}

footer {
  background-color: rgb(245, 239, 239);
}

.logofooter {
  font-size: 6rem;
  font-weight: bolder;
  color: rgba(12, 150, 104, 0.623);
  padding: 2rem;
  text-align: center;
}

footer li {
  padding: 1rem;
}

.sociallogos {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  padding: 1.3rem;
  margin-left: 25%;
}

.sociallogos img {
  width: 100%;
}


@media (min-width: 1200px) {

  .logo {
    background-image: url(../images/bg-header-desktop.png);
  }

  p {
    font-size: 1.1rem;
  }

  .links-area {
    flex-direction: row;
  }

  .links-area a {
    margin: 0 1rem;
  }

  .computer {
    display: flex;
    flex-direction: row;
  }

  .computer img {
    width: 50%;
    margin-left: -3rem;
  }

  .computer__tasks {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    text-align: left;
    max-width: 25%;
    margin-left: 5%;
  }

  .computer h2, .computer p {
    text-align: left;
  }

  .container__mobile p {
    text-align: center;
  }

  .firstul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .firstul li {
    width: 30%;
  }

  .company {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }

  .company li img {
    width: 100%;
  }


  footer {
    display: flex;
    flex-direction: row;  
    align-items: center;
    padding: 0 4rem;
  }

  footer ul {
    display: flex;
    flex-direction: row;
  }

  .logofooter {
    padding: 0 2rem;
  }
}